@import '../vars'

#navbar-app
    background-color: $color-primary-dark
    font-family: 'Quicksand', 'Tahoma', sans-serif

    .navbar-brand
        color: #ffffff
        font-weight: bold

    .navbar-collapse
        a
            color: #ffffff
            font-size: 16px
            transition: color 0.1s, background-color 0.1s

            &.disabled
                color: $color-secondary !important

            &:hover
                background-color: $color-primary-light
                color: $color-text

        .dropdown-menu
            border-radius: 0

            .dropdown-item
                color: $color-text
