@import 'vars'
@import 'xs/buttons'
@import 'xs/nav'
@import 'xs/pagination'
@import 'xs/typography'

a
    color: $color-primary

    &:hover
        color: $color-primary-dark

body
    color: $color-text
    background-color: $color-secondary

.card
    border-radius: 0

table
    th,
    td
        color: $color-text
