@import 'vars'
@import 'xs/buttons'
@import 'xs/nav'
@import 'xs/pagination'
@import 'xs/typography'

a
    color: $color-primary

    &:hover
        color: $color-primary-dark

body
    color: $color-text
    background-color: $color-secondary
    padding-bottom: 20px

.breadcrumb
    border-radius: 0
    background-color: #ffffff

.card
    border-radius: 0

.form-control
    border-radius: 0

.input-group-text
    border-radius: 0

.progress
    background-color: $color-divider
    border-radius: 0

    .bg-first
        background-color: $color-primary

.swal2-popup
    border-radius: 0 !important

    .swal2-title
        letter-spacing: 0

table
    th,
    td
        color: $color-text
